<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="devops">
    <meta name="author" content="liumiaocn">

    <title>DevOps : Reports</title>

    <!-- Bootstrap core CSS -->
    <link href="../static/css/bootstrap.css" rel="stylesheet">

    <!-- Add custom CSS here -->
    <link href="../static/css/sb-admin.css" rel="stylesheet">
    <link rel="stylesheet" href="../static/font-awesome/css/font-awesome.min.css">
    <!-- Page Specific CSS -->
    <link rel="stylesheet" href="../static/css/morris-0.4.3.min.css">
  </head>

  <body>

    <div id="wrapper">

      <!-- Sidebar -->
      <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="index.html">DevOps admin</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse navbar-ex1-collapse">
          <ul class="nav navbar-nav side-nav">
            <li class="active"><a href="index.html"><i class="fa fa-dashboard"></i> Requirements</a></li>
            <li><a href="report.html"><i class="fa fa-bar-chart-o"></i> Reports</a></li>
            <li><a href="build.html"><i class="fa fa-table"></i> Building</a></li>
            <li><a href="analyze.html"><i class="fa fa-edit"></i> Analyzing</a></li>
            <li><a href="test.html"><i class="fa fa-font"></i> Testing</a></li>
            <li><a href="package.html"><i class="fa fa-desktop"></i> Packaging</a></li>
            <li><a href="deploy.html"><i class="fa fa-wrench"></i> Deoploying</a></li>
            <li><a href="monitor.html"><i class="fa fa-file"></i> Monitoring</a></li>
            <li><a href="audit.html"><i class="fa fa-desktop"></i> Audit</a></li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-caret-square-o-down"></i> Pipeline Setting <b class="caret"></b></a>
              <ul class="dropdown-menu">
                <li><a href="docker.html">Setting: Docker</a></li>
                <li><a href="gitlab.html">Setting: Gitlab</a></li>
                <li><a href="jenkins.html">Setting: Jenkins</a></li>
                <li><a href="sonarqube.html">Setting: Sonarqube</a></li>
                <li><a href="redmine.html">Setting: Redmine</a></li>
              </ul>
            </li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-caret-square-o-down"></i> Continuous Learning<b class="caret"></b></a>
              <ul class="dropdown-menu">
                <li><a href="flow.html">Model: Flow</a></li>
                <li><a href="feedback.html">Model: Feedback</a></li>
                <li><a href="culture.html">Model: Culture</a></li>
              </ul>
            </li>
          </ul>

          <ul class="nav navbar-nav navbar-right navbar-user">
            <li class="dropdown messages-dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-envelope"></i> Messages <span class="badge">3</span> <b class="caret"></b></a>
              <ul class="dropdown-menu">
                <li class="dropdown-header">3 New Messages</li>
                <li class="message-preview">
                  <a href="#">
                    <span class="avatar"><img src="http://placehold.it/50x50"></span>
                    <span class="name">Liu Miao:</span>
                    <span class="message">Please tell me about the lastest version about release...</span>
                    <span class="time"><i class="fa fa-clock-o"></i> 1:34 PM</span>
                  </a>
                </li>
                <li class="divider"></li>
                <li class="message-preview">
                  <a href="#">
                    <span class="avatar"><img src="http://placehold.it/50x50"></span>
                    <span class="name">Liu Miao:</span>
                    <span class="message">How about talking about the next sprint's topics...</span>
                    <span class="time"><i class="fa fa-clock-o"></i> 2:10 PM</span>
                  </a>
                </li>
                <li class="divider"></li>
                <li class="message-preview">
                  <a href="#">
                    <span class="avatar"><img src="http://placehold.it/50x50"></span>
                    <span class="name">Liu Miao:</span>
                    <span class="message">Please provide another deployment this Friday...</span>
                    <span class="time"><i class="fa fa-clock-o"></i> 4:55 PM</span>
                  </a>
                </li>
                <li class="divider"></li>
                <li><a href="#">View Inbox <span class="badge">3</span></a></li>
              </ul>
            </li>
            <li class="dropdown alerts-dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-bell"></i> Alerts <span class="badge">6</span> <b class="caret"></b></a>
              <ul class="dropdown-menu">
                <li><a href="#">Default Check executed.<span class="label label-default">Default</span></a></li>
                <li><a href="#">Testing will execute.<span class="label label-primary">Primary</span></a></li>
                <li><a href="#">Building has finished.<span class="label label-success">Success</span></a></li>
                <li><a href="#">Building fininshed with errors.<span class="label label-info">Info</span></a></li>
                <li><a href="#">Testing finished with a 75% coverage. <span class="label label-warning">Warning</span></a></li>
                <li><a href="#">Testing failed with parts of functions.<span class="label label-danger">Danger</span></a></li>
                <li class="divider"></li>
                <li><a href="#">View All</a></li>
              </ul>
            </li>
            <li class="dropdown user-dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-user"></i> Liu Miao <b class="caret"></b></a>
              <ul class="dropdown-menu">
                <li><a href="#"><i class="fa fa-user"></i> Profile</a></li>
                <li><a href="#"><i class="fa fa-envelope"></i> Inbox <span class="badge">3</span></a></li>
                <li><a href="#"><i class="fa fa-gear"></i> Settings</a></li>
                <li class="divider"></li>
                <li><a href="#"><i class="fa fa-power-off"></i> Log Out</a></li>
              </ul>
            </li>
          </ul>
        </div><!-- /.navbar-collapse -->
      </nav>
      <div id="page-wrapper">

        <div class="row">
          <div class="col-lg-12">
            <h1>Reports <small>system information</small></h1>
            <ol class="breadcrumb">
              <li><a href="index.html"><i class="icon-dashboard"></i> Requirements</a></li>
              <li class="active"><i class="icon-file-alt"></i> reports of system overall information</li>
            </ol>
          </div>
        </div><!-- /.row -->

      </div><!-- /#page-wrapper -->

    </div><!-- /#wrapper -->

    <!-- JavaScript -->
    <script src="../static/js/jquery-1.10.2.js"></script>
    <script src="../static/js/bootstrap.js"></script>

    <!-- Page Specific Plugins -->    <script src="../static/js/raphael-min.js"></script>
    <script src="../static/js/morris-0.4.3.min.js"></script>
    <script src="../static/js/morris/chart-data-morris.js"></script>
    <script src="../static/js/tablesorter/jquery.tablesorter.js"></script>
    <script src="../static/js/tablesorter/tables.js"></script>

  </body>
</html>
